# Dist & generated
lib
*.tsbuildinfo
scripts/backend.graphql

# Test-related directories
coverage

# Package directories
node_modules

# OS-related files
.DS_Store
.vscode

# Logs
*.log

# Secrets
.env
.env.prod

# Now
.now
