name: pr

on: [pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Yarn lint
        run: |
          yarn install
          yarn lint
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Yarn test
        env:
          AQICN_TOKEN: ${{ secrets.AQICN_TOKEN }}
        run: |
          yarn install
          yarn test
